:root {
  --mainFg: hsl(250, 10%, 35%);
  --lightFg: hsl(250, 10%, 45%);
  --bgLight: hsl(250, 10%, 21%);
  --bgDark: hsl(250, 10%, 18%);
  --bgDarker: hsl(250, 10%, 14%);
}

body {
  background-color: var(--bgDark);
  background-image: linear-gradient(var(--bgDark), var(--bgDarker));
  color: var(--lightFg);
  margin: 0;
  padding: 0;
  font-family: "Hack", monospace;
  min-height: 100vh;
}

h1 {
  font-weight: normal;
  padding: 10px 20px;
  border-bottom: 1px solid var(--mainFg);
  text-align: center;
}

.p {
  margin: 32px;
  box-shadow: 3px 3px 3px black;
}

.love {
  background-color: var(--bgLight);
  color: var(--lightFg);
  border: 1px solid var(--lightFg);
  padding: 10px 20px;
  border-radius: 6px;
  min-height: 40vh;
}
